<div>
    <h1>Details Form</h1>
    <!-- Your details form logic here -->
</div>

@code {
    [Parameter] public EventCallback OnPrevious { get; set; }

    private void MovePrevious()
    {
        OnPrevious.InvokeAsync();
    }
}
