@using Microsoft.JSInterop

<div class="google-map-container">
    <div id="@MapId"></div>
</div>

@code {
    [Parameter] public double Latitude { get; set; } = 30.076059;
    [Parameter] public double Longitude { get; set; } = -81.5563301;
    [Parameter] public int Zoom { get; set; } = 10;
    [Parameter] public string? MapId { get; set; }
    [Inject] private IJSRuntime JS { get; set; } = default!;
    private double _prevLat;
    private double _prevLng;
    private string _mapId = "google-map-main";
    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(MapId))
        {
            MapId = _mapId;
        }
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initGoogleMap", MapId, Latitude, Longitude, Zoom);
            _prevLat = Latitude;
            _prevLng = Longitude;
        }
        else if (_prevLat != Latitude || _prevLng != Longitude)
        {
            await JS.InvokeVoidAsync("updateGoogleMap", MapId, Latitude, Longitude);
            _prevLat = Latitude;
            _prevLng = Longitude;
        }
    }
}