@page "/About"

<div class="about-container">
    <h3 class="page-header-text">Behind the Spice</h3>

    <div class="about-section">
        <p>Welcome to Misa’s Thai Street Cuisine! We specialize in authentic Thai herb sausage, crafted with premium pork cuts and Thai herbs. Perfect for sharing or enjoying at home, our sausage brings the bold, unforgettable flavors of Thailand to your table.</p>
    </div>
    <div class="about-section">
        <h4>Origin</h4>
        <img src="/Resources/Images/Other/chiangmai_map.png" />
        <p>The Thai herb sausage, known as Sai Ua, originates from the vibrant Chiang Mai region in Northern Thailand. With bold flavors and a rich history, Sai Ua has been a beloved dish across the country for hundreds of years, dating back as early as the 13th century.</p>
    </div>
    <div class="about-section">
        <h4>Flavor Profile</h4>
        <img src="/Resources/Images/Gallery/herbs.png " />
        <p>Distinctively aromatic, Sai Ua stands out for its harmonious blend of fragrant herbs and spices. Unlike Western sausages, it offers a unique taste experience, bursting with layers of flavor that awaken the senses.</p>
    </div>
    <div class="about-section">
        <h4>Key Ingredients</h4>
        <img src="/Resources/Images/Gallery/spices.png" />
        <p>The heart of Sai Ua’s irresistible taste lies in its signature herbs: lemongrass, galangal, kaffir lime leaves, and turmeric. These ingredients combine to create a richly flavored sausage that is as fragrant as it is delicious.</p>
    </div>
    <div class="about-section">
        <h4>About M</h4>
        <img src="/Resources/Images/Gallery/misa-sausage-2.jpg" />
        <p>Misa’s Thai Street Cuisine is all about one thing—bringing the bold, authentic flavors of Thai sausage to the table. Born and raised in Bangkok, Misa grew up with a deep love for Thai food, where every meal was an experience filled with rich aromas, vibrant spices, and family traditions. Sai Ua has always been a favorite, and now Misa is on a mission to share its unmistakable flavor with others.</p>
        <p>Every batch is crafted with care using fresh herbs, fragrant spices, and time-honored techniques to create a sausage that’s packed with authentic Thai taste. Whether enjoyed on its own, with sticky rice, or alongside a flavorful dip, Misa’s Thai sausage is a true taste of home.</p>
        <p>Misa’s Thai Street Cuisine isn’t just about food—it’s about sharing tradition, passion, and unforgettable flavors, one sausage at a time.</p>
    </div>
</div>

@code {

}
