@page "/kids"

<PageTitle>Kids</PageTitle>

<div class="image-container">
	<img class="image" src="/Resources/Images/Other/kids_welcome.jpg" />
</div>

@code {

}


<style>
	.image {
		max-height: 100vh;
	}

	.image-container {
		display:flex;
		justify-content: center;
		align-items: center;
	}
</style>