@page "/menu"
@rendermode InteractiveServer

<PageTitle>Menu</PageTitle>

<br/>
<div class="menu-page">
    <div class="stepper">
        @foreach (var step in Steps)
        {
            <div class="step @(step.IsActive ? "active" : "")">
                <span>@step.Name</span>
                @if (step != Steps.Last())
                {
                    <div class="chevron"></div>
                }
            </div>
        }
    </div>

    <!-- Render Child Component Based on Current Step -->
    <div class="step-content">
        @RenderStepComponent()
    </div>
    <div class="navigation-container">
        @if (CurrentStepIndex > 0)
        {
            <button class="button" @onclick="GoToPreviousStep">Previous</button>
        }
        @if (CurrentStepIndex < Steps.Count - 1)
        {
            <button class="button" @onclick="GoToNextStep">Next</button>
        }
    </div>
</div>

@code {
    private int CurrentStepIndex { get; set; } = 0;

    private List<Step> Steps = new List<Step>
    {
        //new Step { Name = "Package Selection", ComponentType = typeof(PackageSelection) },
       // new Step { Name = "Date Selection", ComponentType = typeof(DateSelection) },
        //new Step { Name = "Details Form", ComponentType = typeof(DetailsForm) }
    };

    private void GoToNextStep()
    {
        if (CurrentStepIndex < Steps.Count - 1)
        {
            Steps[CurrentStepIndex].IsActive = false;
            CurrentStepIndex++;
            Steps[CurrentStepIndex].IsActive = true;
            StateHasChanged();
        }
    }

    private void GoToPreviousStep()
    {
        if (CurrentStepIndex > 0)
        {
            Steps[CurrentStepIndex].IsActive = false;
            CurrentStepIndex--;
            Steps[CurrentStepIndex].IsActive = true;
            StateHasChanged();
        }
    }

    private RenderFragment RenderStepComponent()
    {
        var step = Steps[CurrentStepIndex];
        return builder =>
        {
            builder.OpenComponent(0, step.ComponentType);
            builder.CloseComponent();
        };
    }

    protected override void OnInitialized()
    {
        Steps[CurrentStepIndex].IsActive = true;
    }

    private class Step
    {
        public string? Name { get; set; }
        public Type? ComponentType { get; set; }
        public bool IsActive { get; set; }
    }
}