.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
    font-family: "Rock Salt", cursive;
    margin-bottom: 25px;
    color: #ee6900;
    padding-bottom: 10px;
}

.menu-section {
    margin-bottom: 40px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

    .menu-section h3 {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 15px;
        color: #ee6900;
        letter-spacing: 0.5px;
        font-family: 'Shangri La';
        font-size: 3rem;
        border-bottom: 1px solid #ee6900;
        padding-bottom: 10px;
    }

ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #ee6900;
}

    li span {
        font-family: 'Shangri La';
        font-size: 2rem;
    }

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.details-text {
    font-family: 'Shangri La';
    font-size: 1.75rem;
    text-align: left;
    width: 100%;
}

    .details-text p {
        margin: 0;
        padding-left: 20px;
        text-indent: -20px;
    }

        .details-text p::before {
            content: "• ";
            padding-right: 5px;
        }
