@page "/Contact"

<div class="contact-info-container">
    <h3 class="page-header-text">Let Us Hear It</h3>

    <div class="contact-info">
        <div class="contact-item">
            <h5>Phone</h5>
            <p>904.315.4884</p>
        </div>
        <div class="contact-item">
            <h5>Email</h5>
            <p>msthaistreetcuisine@gmail.com</p>
        </div>
        <div class="contact-item">
            <h5>Pickup Address</h5>
            <p>1301 N Orange Ave, Suite 102<br />Green Cove Springs, FL 32043</p>
        </div>
        <div class="contact-item">
            <h5>Socials</h5>
            <div class="social-buttons">
                <a href="https://www.facebook.com/MisasThaiStreetCuisine" target="_blank" class="btn btn-primary">
                    <i class="fab fa-facebook-f"></i> Like us on Facebook
                </a>
                <a href="https://www.instagram.com/misasthaistreetcuisine/" target="_blank" class="btn btn-instagram">
                    <i class="fab fa-instagram"></i> Follow us on Instagram
                </a>
            </div>
        </div>
    </div>
</div>

@code {

}
 