@page "/Gallery"
@using Microsoft.AspNetCore.Components.Web

<div class="container">
    <h2 class='page-header-text'>See for Yourself</h2>

    <div class="gallery">
        @foreach (var image in Images)
        {
            <img src="@image" class="gallery-item" />
        }
    </div>
</div>

@code {
    private List<string> Images = new List<string>
    {
        "Resources/Images/Gallery/misa-sausage-2.jpg",
        "Resources/Images/Gallery/frozen-link.jpg", 
        "Resources/Images/Gallery/frozen-platter.jpg",
        "Resources/Images/Gallery/herbs.png",
        "Resources/Images/Gallery/spices.png"
        // Add more images as needed
    };

    protected override void OnInitialized()
    {
        // Images are now hardcoded above
        // In the future, you could load these from a JSON file using HttpClient
    }
}
